@font-face {
    font-family: "Google Sans Bold";
    src: url("../fonts/GoogleSans-Bold.otf");
}
@font-face {
    font-family: "Google Sans Thin";
    src: url("../fonts/GoogleSans-Thin.otf");
}
@font-face {
    font-family: "Google Sans Regular";
    src: url("../fonts/GoogleSans-Regular.otf");
}
@font-face{
    font-family:"Exo";
    src:url("../fonts/Exo2-MediumItalic.otf");
}
body,html{
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}
#main{
    font-size: 30px;
    font-family: Google Sans Bold, Helvetica, sans-serif;
    font-weight: normal;
    color: white;
    width: 1920px;
    height: 1080px;
    position: relative;
	#text-shadow: 0px 0px 8px black;
}
.odometer.odometer-auto-theme{
    font-size: 24px !important;
    font-family: "Google Sans Bold", Helvetica, sans-serif !important;
    font-weight: normal !important;	
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
    padding-left: 5px !important;
    padding-right: 5px !important;
    margin-left: -5px !important;
    margin-right: -5px !important;
}
#top{
    position: absolute;
    width: 1920px;
    top: 5px;
    height: 125px;
}
#ava {
    position:absolute;
    left: 920px;
    top: 0px;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    box-shadow: 0 10px 9px black;
    transition: ease-in-out 500ms;
}
#username {
    position: absolute;
    left: 860px;
    top: 95px;
    width: 200px;
    padding: 5px 0 5px 0;
    background-color: white;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    font-size: 15px;
    color: #161616;
    text-align: center;
    transition: ease-in-out 500ms;
    z-index: 1;
}
#ranks{
    position: absolute;
    right: 770px;
    top: 95px;
    width: 100px;
    color: white;
    background-color: #161616;
    padding: 5px 0px 5px 0px;
    font-size: 15px;
    color: white;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 25px;
    box-shadow: 0 0 3px black;
    transition: ease-in-out 500ms;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#playerPP{
    position: absolute;
    left: 770px;
    top: 95px;
    width: 100px;
    color: white;
    background-color: #161616;
    padding: 5px 0px 5px 0px;
    font-size: 15px;
    color: white;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 25px;
    box-shadow: 0 0 3px black;
    transition: ease-in-out 500ms;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#country{
    position: absolute;
    left: 949px;
    top: 73px;
    width: 22.5px;
    height: 15px;
    background-color: #161616;
    font-size: 15px;
    color: white;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 25px;
    transition: ease-in-out 500ms;
    z-index: 0;
}
#hp{
    position: absolute;
    transform-origin: centre;
    width: 1800px;
    top: 80px;
    left: 60px;
    padding: 2px 0 2px 0;
    background-color: #FFFFFF;
    border-radius: 25px;
    box-shadow: 0 0px 9px black;
    transition: ease-in-out 100ms;
    z-index: -1;
}
#score {
	position: absolute;
	padding: 5px 0px 5px 0px;
	text-align: center;
	border-radius: 25px;
    top: 30px;
    left: 720px;
	width: 220px;
    box-shadow: 0 5px 9px black;
    
	background-color: #FFFFFF;
	color: #161616;
    font-family: Google Sans Bold;
	font-size: 25px;
	display: block;
	
    transition: ease-in-out 500ms;
    
    z-index: -1;
}
#acc {
	position: absolute;
	padding: 5px 0px 5px 0px;
	text-align: center;
	border-radius: 25px;
    top: 30px;
    right: 720px;
	width: 220px;
    box-shadow: 0 5px 9px black;
    
	background-color: #FFFFFF;
	color: #161616;
    font-family: Google Sans Bold;
	font-size: 25px;
	display: block;
	
    transition: ease-in-out 500ms;
    
    z-index: -1;
}

#middle{
    position: absolute;
    width: 1920px;
    height: 500px;
    top: 325px;
    left: 30px;
    font-family:Exo;
    transition: ease-in-out 500ms;
}

#slot1, #slot2, #slot3, #slot4, #slot5, #slot0{
    position: absolute;
    width: 200px;
    height: 55px;
    background-color: white;
    font-size: 15px;
    color: #161616;
    
    border-style: solid;
    border-color: white;
    border-width: 3px;
    border-radius: 40px;
    
    transition: ease-in-out 500ms;  
}
#slot2{
    top: 70px;
}
#slot3{
    top: 140px;
}
#slot4{
    top: 210px;
}
#slot5{
    top: 280px;
}
#slot0{
    top:350px;
    background-color: #161616;
    color: white;
}
#slot1n, #slot1s, #slot1c, #slot2n, #slot2s, #slot2c, #slot3n, #slot3s, #slot3c, #slot4n, #slot4s, #slot4c, #slot5n, #slot5s, #slot5c, #slot0n, #slot0s, #slot0c{
    left: 20px;
}
#slot1n, #slot2n, #slot3n, #slot4n, #slot5n, #slot0n {
    position: absolute;
    top: 6px;
    font-weight: 900;
    font-style: italic;
    font-family: Google Sans Bold;
}
#slot1s, #slot1c, #slot2s, #slot2c, #slot3s, #slot3c, #slot4s, #slot4c, #slot5s, #slot5c, #slot0s, #slot0c{
    position: relative;
    top: 27px;
    float: left;
}
#slot1s, #slot2s, #slot3s, #slot4s, #slot5s, #slot0s{
    text-align: left;
    width: 100px;
}
#slot1c, #slot2c, #slot3c, #slot4c, #slot5c, #slot0c{
    text-align: right;
    width: 60px;
}

#bottom{
    position: absolute;
    width: 1920px;
    height: 300px;
    bottom: 0px;
}
#mapContainer {
	position: absolute;
    bottom: 20px;
    left: 715px;
    height: 70px;
	width: 490px;
    background-size: cover;
    background-color: black;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
	border-radius: 50px;
	z-index: 1;
    border-style: solid;
border-width: 2px;
border-color: white;
transition: ease-in-out 500ms;
}
#overlay {
	position: absolute;
	height: 70px;
	width: 490px;
	z-index: 0;
    background-color: rgba(0,0,0,0.4);
	border-radius: 50px;
    transition: ease-in-out 100ms;
}
#combo {
	position: absolute;
	padding: 5px 0px 5px 0px;
	text-align: center;
	border-radius: 25px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    bottom: 40px;
    left: 30px;
	width: 150px;
    /*box-shadow: 5px 0px 3px rgba(0,0,0,.3);*/
    
	background-color: #161616;
	color: white;
    
    font-family: Google Sans Bold;
	font-size: 25px;
	display: block;
	
    transition: ease-in-out 500ms;
    
    z-index: 0;
    
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#pp {
	position: absolute;
	padding: 5px 0px 5px 0px;
	text-align: center;
	border-radius: 25px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    bottom: 40px;
    left: 160px;
	width: 150px;
    box-shadow: 5px 0px 3px black;
    
	background-color: white;
	color: #161616;
    
    font-family: Google Sans Bold;
	font-size: 25px;
	display: block;
	
    transition: ease-in-out 500ms;
    
    z-index: -1;
    
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#accInfo {
	position: absolute;
	padding: 5px 0px 5px 0px;
	text-align: center;
	border-radius: 25px;
    border-style: solid;
    border-width: 3px;
    border-color: #161616;
    bottom: 10px;
    left: 50px;
	width: 240px;
    
	background-color: #FFFFFF;
	color: #F6446E;
    
    font-family: Google Sans Bold;
	font-size: 15px;
	
    transition: ease-in-out 500ms;
    
    z-index: 2;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#mods{
    position: absolute;
    padding: 5px 0px 5px 0px;
    text-align: center;
    border-radius: 25px;
    border-style: solid;
    border-width: 3px;
    border-color: #161616;
    bottom: 80px;
    left: 110px;
    width: 120px;
    
    background-color: #FFFFFF;
    color: #161616;
    
    font-family: Google Sans Bold;
    font-size: 15px;
    
    transition: ease-in-out 500ms;
    
    z-index: 2;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#h300, #h100, #h50, #h0{
float: left;
width: 60px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
#h100{
color: #4287f5;
}
#h50{
color: #a87dd4;
}
#h0{
color: #161616;
}

#mapTitle, #mapDesc{
position: relative;
font-family: Exo;
top: 17px;
left: 20px;
width: 450px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
z-index: 0;
font-size: 15px;
text-shadow: 0 2px 3px black;
text-align:  Center;
}
#starsContainer{
position: absolute;
font-family: Google Sans Bold;
width: 200px;

white-space: normal;
overflow: hidden;
text-overflow: ellipsis;
text-align: center;

z-index: 1;
font-size: 15px;
padding: 5px 0px 5px 0px;
color: #161616;

background-color: white;
box-shadow: 0 5px 9px black;

top: -30px;
left: 145px;

border-radius: 25px;
border-color: white;
border-style: solid;
border-width: 3px;

transition: ease-in-out 100ms;
}
#starsCurrent, #stars{
position: absolute;
font-family: Google Sans Bold;
width: 150px;

white-space: normal;
overflow: hidden;
text-overflow: ellipsis;
text-align: center;

z-index: 0;
font-size: 15px;
padding: 5px 0px 5px 0px;
color: white;

background-color: #161616;
box-shadow: 0 5px 9px black;

top: -30px;

border-radius: 25px;
border-color: white;
border-style: solid;
border-width: 3px;

transition: ease-in-out 100ms;
}
#starsCurrent{
border-top-right-radius: 0;
border-bottom-right-radius: 0;
left: 10px;
}
#stars{
border-top-left-radius: 0;
border-bottom-left-radius: 0;
right: 10px;
}
.chat {
display: flex;
text-align: left;
}

.chatTime {
width: 5%;
color: silver;
padding-right: 10px;
}
.wholeChat {
width: 95%;
display: flex;
}
.chatName {
color: white;
white-space: nowrap;
width: max-content;
}
.chatText {
white-space: normal;
word-wrap: break-word;
overflow: hidden;
}
.unknown {
color: yellow;
}
.bot {
color: #FF66AA;
}
.left {
color: #1fd0ed;
}
.right {
color: #ed1855;
}


/*Scrollbar*/
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
margin-top: 25px;
margin-bottom: 25px;
visibility: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: grey;
border-radius: 10px;
}
.text{
display: flex;
justify-content: center;
}